
body
{
padding:0px;
margin:0px;

}
::placeholder
{
  text-align:right;
  color:black;
}
dib::befor{display:none;}
#calc
{
  border-radius: 5px;

  width: 450px;
  height: 515px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding:10px 0 0 0;
}
#calc, #keyboar{  background: dark-light;}
#PrevRes
{
    background-color:white;
}
input[type=text]
{
  border: white 1px;
  margin:0 0 1px 0;
  text-align:right;
}
#keyboar{
  height: 80vh;
  margin: auto;
  display: grid;
  grid-template: repeat(6,10%)/repeat(5,20%);
}
.calc-buttons
{
  font-size:16px;
  padding:4px;
}
.calc-buttons-l
{
  font-size:14px;
}
.exe{
  grid-column: auto / span 1;
}
